#p1{
    background-color: #00aaffbb;
}
.Corentin{
    color: blue;
}
.Fabien{
    color: blueviolet;
}
.Corentin{
    color: red;
}
.rotate {
    animation: spin infinite 300ms;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}